<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>
    <div class="card" style="width: 24rem;" text-center>
        <style>
            div {
                 height: 200px;
                 margin-left: auto;
                 margin-right: auto;
                 width: 6em
                 height: 18em

                 }
            h1 {
                color: blue;
                }

        </style>
        <div class="card-body">
            <h1 class="card-title"><span itemprop="name">КОНТАКТНЫЕ ДАННЫЕ</span></h1>
            <span itemprop="streetAddress">720000 Manas road</span>
            <span itemprop="addressLocality">Bishkek TN0000</span>,
            <span itemprop="addressRegion">Head office</span>
            Tel: <span itemprop="telephone">996-555-000001</span>
            Email: <a href="mailto:python_bootcamp_8_30@megacom.com" itemprop="email">readoff@gmail.com</a>

        </div>
    </div>
</body>
</html>
